@use "../utilities/variable" as *;

.pnpnd-top-level-wrapper {
    .pnpnd-media-player {
        .pnpnd-media {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: start;
            gap: var(--pnpnd-space-5);

            &--left {
                flex-direction: row-reverse;
            }

            &--bottom {
                flex-direction: column;

                .pnpnd-media__media {
                    width: 100%;
                }

                .pnpnd-media__info {
                    width: 100%;
                }
            }

            &__media {
                flex: 1;

                &-content {
                    position: relative;
                    width: 100%;
                    overflow: "hidden";

                    video,
                    audio {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__info {
                position: relative;
                overflow: hidden;
                transition:
                    width 0.3s ease,
                    height 0.3s ease;

                &-header {
                    background-color: $primary-light;
                    padding: 15px;
                    cursor: pointer;

                    &-icon--open {
                        transition: transform 0.3s ease;
                        transform: rotate(180deg);
                    }
                }

                &-list {
                    max-height: 100%;
                    overflow-y: auto;
                    scrollbar-width: none;
                    scroll-behavior: smooth;
                    background-color: $white;

                    &--list {
                        display: flex;
                        flex-direction: column;
                    }

                    &--grid {
                        display: grid;
                        gap: 15px;

                        &-1 {
                            grid-template-columns: repeat(1, 1fr);
                        }

                        &-2 {
                            grid-template-columns: repeat(2, 1fr);
                        }

                        &-3 {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        &-bottom {
                            grid-template-columns: repeat(
                                auto-fill,
                                minmax(250px, 1fr)
                            );
                        }
                    }

                    &-list-item {
                        position: relative;
                        padding: 10px;
                        border-top: 1px solid $secondary;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &--active {
                            background-color: $primary-light;
                        }

                        &:hover {
                            background-color: $primary-extralight;
                        }

                        &-download {
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            background-color: $white;
                            color: $primary;
                            padding: 5px;
                            border: 1px solid $primary-light;
                            border-radius: $rounded-md;
                            cursor: pointer;
                        }
                    }

                    &-grid-item {
                        position: relative;
                        border: 1px solid $secondary;
                        border-radius: $rounded-md;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &--active {
                            background-color: $primary-light;

                            box-shadow: inset 0px 0px 0px 2px $primary;
                        }

                        &:hover {
                            background-color: $primary-extralight;
                        }

                        &-index {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 10;
                            padding: 3px var(--pnpnd-space-5);
                            background-color: $primary;
                            color: white;
                            border-radius: $rounded-md 0;
                        }

                        img {
                            border-radius: $rounded-md $rounded-md 0 0 !important;
                        }

                        &-download {
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            background-color: $white;
                            color: $primary;
                            padding: 5px;
                            border: 1px solid $primary-light;
                            border-radius: $rounded-md;
                            cursor: pointer;
                        }
                    }
                }

                &--layer {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50px;
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        $white 100%
                    );
                    pointer-events: none;
                }
            }
        }
    }
}
